.cart--item-list-container {
    min-width: 320px;
    height: 100%;
    padding: 0 1rem;
  
    overflow-y: scroll;
  
    border-radius: 0.5rem;
    border: 2px solid #757575;
  }
  
  @media only screen and (max-width: 450px) {
    .cart--item-list-container {
      border: none;
    }
  }
  
  .cart--item-list li {
    padding: 1rem 0;
  
    display: grid;
    grid-template-columns: 24px minmax(150px, 1fr) repeat(3, auto);
    grid-gap: 0.5rem;
    align-items: center;
  
    border-bottom: 1px dotted #000000;
  
    font-size: 1.25rem;
  }
  
  .cart--item-list li:last-child {
    border-bottom: none;
  }
  
  .cart--item-icon {
    width: 24px;
  }

  .center {
    display: grid;
    place-items: center;
  }
  
  
  .quantity-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 0.25rem;
    font-weight: bold;
    place-content: center;
  }
  
  .remove-btn {
    border: 2px solid #d32f2f;
    background-color: #ffcdd2;
    color: #d32f2f;
  }
  
  .add-btn {
    border: 2px solid #388e3c;
    background-color: #c8e6c9;
    color: #388e3c;
  }
  
  .quantity-text {
    width: 24px;
    height: 24px;
  
    border-radius: 0.25rem;
    border: 2px solid #757575;
    color: #757575;
  
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
  }