/* Cart */

#cart {
    height: 60vh;
    padding: 1rem;
  
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1rem;
    justify-content: center;
  
    border-top: 2px solid var(--primary-color);
  }
  
  #cart h2 {
    margin-bottom: 0;
    text-align: center;
  }
  