/* Store */

#store {
    height: 40vh;
    padding: 1rem;
  
    overflow-y: scroll;
  
    background-color: var(--primary-color);
  }
  
  #store h1 {
    text-align: center;
    color: white;
    font-family: Lobster, sans-serif;
  }
  
  #store button {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    background: white;
  
    color: var(--primary-color);
    font-weight: bold;
  
    box-shadow: 0 0 0 2px var(--primary-color), 0 0 0 4px white;
  
    transition: 0.1s;
  }
  
  #store button:hover {
    box-shadow: 0 0 0 2px var(--primary-color-lighter), 0 0 0 4px white;
    color: var(--primary-color-lighter);
  }
  
  #store button:active {
    box-shadow: 0 0 0 2px var(--primary-color-darker), 0 0 0 4px white;
    color: var(--primary-color-darker);
  }
  
  .store--item-list {
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-gap: 1rem;
    justify-content: center;
  }
  
  .store--item-list li {
    display: grid;
    place-items: center;
    grid-row-gap: 0.5rem;
  }
  
  .store--item-icon {
    width: 125px;
    height: 125px;
  }
  
  @media only screen and (max-width: 600px) {
    .store--item-list {
      grid-template-columns: repeat(3, 125px);
    }
  }
  
  @media only screen and (max-width: 450px) {
    .store--item-list {
      grid-template-columns: repeat(2, 125px);
    }
  }