/* Total */

.total-section {
    padding: 0.5rem 1rem;
  
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  
  .total-number {
    font-weight: bold;
  }
  
  @media only screen and (max-width: 450px) {
    .total-section {
      border-top: 2px solid #00675b;
      border-bottom: 2px solid #00675b;
    }
  }